.post-block p, .post-block li{
    font-size: 18px
    line-height:32px
    color:rgba(41, 41, 41, 1)
}
.post-block ul li{
    margin-bottom: 5px
}

.post-block li{
    margin-bottom: 15px
}

.post-block blockquote p{
    color:rgba(150,150,150, 1)
    font-size: 18px
    margin-top: 12px
    margin-bottom: 12px
}

.posts-expand .post-title{
    text-align: left
}
.post-meta{
    justify-content: left
}
.post-body .description{
    display:flex
    flex-direction:row
}
.post-body .description p{
    margin-right:30px
}
.post-body img{
    width:600px
}
.post-body .thumbnail{
    width: 300px
    align-self: center;
}
.post-button{
    margin-top:30px
}

@media screen and (max-width: 768px) {
  .post-body .description {
    flex-direction:column-reverse
  }
  .post-body .thumbnail{
    width: 100%
  }
}